.decisions {
  margin-bottom: 70px;

  &__title {
    @include breakpoint($breakpoint-mobile) {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    margin-bottom: 70px;
    font-weight: $weight-Regular;
    font-size: $font-size__title--medium;
    font-family: $font-second;
    line-height: 53px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    span {
      font-weight: $weight-Bold;
    }
  }

  &__card-wrapper {
    @include breakpoint($breakpoint-laptop) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 32px;
    padding-bottom: 50px;
  }

  &__card-wrapper > :first-child {
    @include breakpoint($breakpoint-laptop) {
      grid-column: 1 / 2;
    }

    grid-row: 1 / 2;
    grid-column: 1 / 4;

    .decisions__card-video {
      @include breakpoint($breakpoint-tabletmini) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__card-wrapper > :nth-child(2) {
    @include breakpoint($breakpoint-laptop) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    grid-row: 1 / 2;
    grid-column: 4 / 6;
    // background-image: url("../assets/img/layout/section/decisions/02.jpg");
    // background-position: top right;
    // background-repeat: no-repeat;

    .decisions__card-video {
      @include breakpoint($breakpoint-tabletmini) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__card-wrapper > :nth-child(3) {
    @include breakpoint($breakpoint-laptop) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    grid-row: 2 / 3;
    grid-column: 1 / 3;
    // background-image: url("../assets/img/layout/section/decisions/03.jpg");
    // background-position: bottom right;
    // background-repeat: no-repeat;

    .decisions__card-video {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__card-wrapper > :nth-child(4) {
    @include breakpoint($breakpoint-laptop) {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
    }

    grid-row: 2 / 3;
    grid-column: 3 / 6;

    .decisions__card-video {
      @include breakpoint($breakpoint-tabletmini) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__card {
    @include breakpoint($breakpoint-tabletmini) {
      flex-direction: column-reverse;
      height: auto;
      padding-bottom: 150px;
    }
    @include breakpoint($breakpoint-mobile) {
      padding-left: 20px;
    }

    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 400px;
    padding-left: 50px;
    border-radius: 30px;
    background: $palette-white;
    box-shadow: 10px 10px 50px 0 #00000026;

    &-item {
      // display: flex;
    }

    &-video {
      @include breakpoint($breakpoint-tabletmini) {
        height: 330px;
      }

      // &.right {

      // }

      .video01 {
        object-fit: cover;
        width: 400px;
        height: 100%;

        &.mask {
          -webkit-mask-image: url("../assets/img/layout/section/decisions/mask1.svg");
          -webkit-mask-position: center center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: cover;

          mask-image: url("../assets/img/layout/section/decisions/mask1.svg");
          mask-position: center center;
          mask-repeat: no-repeat;
          mask-size: cover;
        }
      }

      .video02 {
        @include breakpoint($breakpoint-laptop) {
          width: 350px;
          height: 100%;
        }

        object-fit: cover;
        width: 250px;
        height: 80%;

        &.mask {
          -webkit-mask-image: url("../assets/img/layout/section/decisions/mask2.svg");
          -webkit-mask-position: center center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: cover;

          mask-image: url("../assets/img/layout/section/decisions/mask2.svg");
          mask-position: center center;
          mask-repeat: no-repeat;
          mask-size: cover;
        }
      }

      .video03 {
        @include breakpoint($breakpoint-laptop) {
          width: 375px;
          height: 100%;
        }

        object-fit: cover;
        width: 260px;
        height: 70%;

        &.mask {
          -webkit-mask-image: url("../assets/img/layout/section/decisions/mask3.svg");
          -webkit-mask-position: center center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: cover;

          mask-image: url("../assets/img/layout/section/decisions/mask3.svg");
          mask-position: center center;
          mask-repeat: no-repeat;
          mask-size: cover;
        }
      }

      .video04 {
        object-fit: cover;
        width: 400px;
        height: 100%;

        &.mask {
          -webkit-mask-image: url("../assets/img/layout/section/decisions/mask4.svg");
          -webkit-mask-position: center center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: cover;

          mask-image: url("../assets/img/layout/section/decisions/mask4.svg");
          mask-position: center center;
          mask-repeat: no-repeat;
          mask-size: cover;
        }
      }

      picture {
        @include breakpoint($breakpoint-notebook) {
          height: 100%;
        }
      }
    }

    &-title {
      @include breakpoint($breakpoint-mobile) {
        padding-top: 10px;
        font-size: 20px;
      }

      margin-bottom: 25px;
      padding-top: 50px;
      font-weight: 600;
      font-size: 32px;
      font-family: $font-second;
      line-height: 35px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }

    &-text {
      font-weight: $weight-Regular;
      font-size: 18px;
      line-height: 25px;
    }

    &-link {
      @include breakpoint($breakpoint-tabletmini) {
        right: 20px;
        left: 20px;
        justify-content: center;
        padding-left: 10px;
      }

      position: absolute;
      bottom: 49px;
      display: inline-flex;
      gap: 20px;
      align-items: center;
      margin-top: 40px;
      padding: 10px 10px 10px 50px;
      border-radius: 50px;

      // background: linear-gradient(135deg, #96e856 0%, #26e1c7 100%);

      background: rgba(92, 228, 145, 1);
      font-weight: $weight-Medium;
      font-size: 20px;
      font-family: $font-second;
      line-height: 26px;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      &:hover {
        background: linear-gradient(135deg, #96e856 0%, #26e1c7 100%);
      }

      &:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 5.8814L11.7812 11.2594M1 5.8814H16H1ZM16 5.8814L11.7812 1L16 5.8814Z' stroke='url(%23paint0_linear_276_9)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_276_9' x1='1' y1='1' x2='10.5613' y2='14.9793' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2396E856'/%3E%3Cstop offset='1' stop-color='%2326E1C7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        transform: translateX(8px);
      }

      &::after {
        content: "";
        position: relative;
        right: 0;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $palette-white;

        // background-image: url("../assets/img/layout/section/decisions/arrow.svg");

        background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 5.8814L11.7812 11.2594M1 5.8814H16H1ZM16 5.8814L11.7812 1L16 5.8814Z' stroke='%23363639' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center 50%;
        background-repeat: no-repeat;
        transition: $transition-time ease;
      }
    }
  }
}
