// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  // .container {
  //   max-width: 100%;
  // }
}

.header {
  &__wrapper {
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 32px;
    align-items: center;
    padding-top: 15px;
  }

  &__left {
    @include breakpoint($breakpoint-tablet) {
      padding: 5px 15px 5px 15px;
      gap: 10px;
      justify-content: space-between;
    }

    display: flex;
    gap: 140px;
    align-items: center;
    padding: 5px 153px 5px 15px;
    border-radius: 50px;
    background-color: $palette-white;

    &-logo {
      @include breakpoint($breakpoint-tablet) {
        width: 80%;
      }

      a {
        display: flex;
        gap: 15px;
        align-items: center;
        font-weight: $weight-Regular;
        font-size: $font-size__title--small;
        font-family: $font-third;
        line-height: 20px;
        letter-spacing: 0.05em;
        white-space: nowrap;
      }
    }

    &-menu {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }
  }

  &__burger {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;
    padding: 10px;
    border-radius: 100px;
    background: $palette-green;
  }

  &__feedback {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;

    .feedback {
      border: none;
      background: none;
    }
  }

  &__right {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    display: block;
    padding: 20px 0;
    border-radius: 50px;
    background-color: $palette-green;
    font-weight: $weight-Regular;
    font-size: $font-size__text--regular;
    font-family: $font-third;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
  }
}
