// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  .container {
    @include breakpoint($breakpoint-laptop) {
      max-width: 100%;
    }
    @include breakpoint($breakpoint-mobile) {
      min-width: 350px;
      padding: 0 5px;
    }
  }
}

.header {
  &__wrapper {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 32px;
    align-items: center;
    padding-top: 15px;
  }

  &__left {
    @include breakpoint($breakpoint-notebook) {
      gap: 10px;
      padding: 5px 15px 5px 15px;
      justify-content: space-between;
    }
    @include breakpoint($breakpoint-mobile) {
      gap: 0;
    }

    display: flex;
    gap: 140px;
    align-items: center;
    padding: 5px 50px 5px 15px;
    border-radius: 50px;
    background-color: $palette-white;

    &-logo {
      @include breakpoint($breakpoint-notebook) {
        width: 90%;
      }
      @include breakpoint($breakpoint-mobile) {
        width: 80%;
        font-size: 12px;
      }

      a {
        @include breakpoint($breakpoint-mobile) {
          font-size: 12px;
          line-height: 12px;
        }

        display: flex;
        gap: 15px;
        align-items: center;
        font-weight: $weight-Regular;
        font-size: $font-size__title--small;
        font-family: $font-third;
        line-height: 20px;
        letter-spacing: 0.05em;
        white-space: nowrap;
      }
    }

    &-menu {
      @include breakpoint($breakpoint-notebook) {
        display: none;
      }
    }
  }

  &__burger {
    @include breakpoint($breakpoint-notebook) {
      display: block;
    }

    .hamburger-inner::before {
      top: -9px;
    }

    .hamburger-inner::after {
      bottom: -9px;
    }

    display: none;
    padding: 10px;
    border-radius: 100px;
    background: $palette-green;
  }

  &__feedback {
    @include breakpoint($breakpoint-notebook) {
      display: block;
      width: 56px !important;
    }

    display: none;

    .feedback {
      border: none;
      background: none;
    }

    .header__right-phone {
      max-width: inherit;
      margin-top: 3px;
      margin-bottom: -3px;
    }
  }

  &__right {
    @include breakpoint($breakpoint-notebook) {
      display: none;
    }

    display: block;
    padding: 20px 0;
    border-radius: 50px;
    background-color: $palette-green;
    font-weight: $weight-Regular;
    font-size: $font-size__text--regular;
    font-family: $font-third;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    transition: $transition-time ease;

    &:hover {
      color: $color-text__white;
    }
  }
}
