<!-- Подвал -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="footer__left">
        <div class="footer__left-logo">
          <a href="/" class="logo logo--header">
            <img src="assets/img/layout/global/logo-footer.svg" alt="СТИМУЛ-КОНСАЛТИНГ">
            <span>СТИМУЛ-КОНСАЛТИНГ</span>
          </a>
        </div>
        <!-- /.footer__left-logo -->

        <div class="footer__left-info">
          <p><a href="tel:+79219123046">+7 (921) 912-30-46</a></p>
          <p><a href="mailto:stimul.consalting@gmail.com">stimul.consalting@gmail.com</a> </p>
          <p>Санкт-Петербург<br>
            Большой проспект П.С, дом 100,<br>
            офис 618
          </p>
        </div>
        <!-- /.footer__left-info -->

        <div class="footer__left-social">
          <a href="#" target="_blank" class="logo logo--header"><img src="assets/img/layout/global/bt-tg.svg"
              alt="Телеграмм"></a>
          <a href="#" target="_blank" class="logo logo--header"><img src="assets/img/layout/global/bt-wa.svg"
              alt="WA"></a>
          <a href="#" target="_blank" class="logo logo--header"><img src="assets/img/layout/global/bt-in.svg"
              alt="Instagramm"></a>
        </div>
        <!-- /.footer__left-social -->
      </div>
      <!-- /.footer__left -->

      <div class="footer__right">
        <div class="footer__right-menu">
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item menu-item current-menu-item "><a href="#">программы</a></li>
              <li class="nav__item menu-item"><a href="#">Наши кейсы</a></li>
              <li class="nav__item menu-item"><a href="#">Команда</a></li>
              <li class="nav__item menu-item"><a href="#">Контакты</a></li>
            </ul>
          </nav>
          <!-- /.nav.nav--footer -->

          <div class="footer__right-contactus">
            <div class="footer__right-contactus--title">
              Свяжитесь с нами
            </div>
            <!-- /.footer__right-contactus--title -->
            <div class="footer__right-contactus--text">
              Оставьте номер телефона<br>
              и мы перезвоним вам в течение суток
            </div>
            <!-- /.footer__right-contactus--text -->

            <div class="footer__right-contactus--form">
              <form action="#" class="form">
                <div class="contactusform">
                  <input type="tel" placeholder="+7 (000)-000-00-00">
                  <input type="submit" value="Отправить">
                </div>
                <!-- /.contactusform -->
              </form>
            </div>
            <!-- /.footer__right-contactus--form -->
          </div>
          <!-- /.footer__right-contactus -->

          <div class="footer__right-bottom">
            <div class="footer__right-bottom--copyright">
              © 2024 СТИМУЛ-КОНСАЛТИНГ
            </div>
            <!-- /.footer__right-copyrights -->

            <div class="footer__right-bottom--artfactor">
              Сайт создан в <a href="https://artfactor.ru" target="_blank">АртФактор</a>
            </div>
            <!-- /.footer__right-artfactor -->
          </div>
          <!-- /.footer__right-bottom -->
        </div>
        <!-- /.footer__right -->
      </div>
      <!-- /.footer -->
    </div>
    <!-- /.container -->
</footer>

<!-- Скрипты -->
<!-- build:js js/bundle.min.js -->
<script src="temp/bundle.js"></script>
<!-- endbuild -->
</body>

</html>