.task {
  margin-bottom: 130px;

  &-wrapper {
    @include breakpoint($breakpoint-notebook) {
      flex-direction: column;
    }

    display: flex;
  }

  &__left {
    @include breakpoint($breakpoint-laptop) {
      width: 30%;
    }
    @include breakpoint($breakpoint-notebook) {
      width: 100%;
      margin-bottom: 50px;
      padding-right: 0;
    }
    @include breakpoint($breakpoint-mobile) {
      margin-bottom: 10px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 250px;

    &-title {
      @include breakpoint($breakpoint-mobile) {
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 28px;
      }

      font-weight: $weight-Regular;
      font-size: $font-size__title--medium;
      font-family: $font-second;
      line-height: 53px;
      letter-spacing: 0.02em;
      text-transform: uppercase;

      h2 {
        @include breakpoint($breakpoint-mobile) {
          font-size: 26px;
          line-height: 28px;
        }

        font-weight: $weight-Regular;
        font-size: $font-size__title--medium;
        font-family: $font-second;
        line-height: 53px;
      }

      span {
        font-weight: $weight-Bold;
      }
    }

    img {
      @include breakpoint($breakpoint-laptop) {
        display: none;
      }
      @include breakpoint($breakpoint-mobile) {
        display: block;
      }

      border-radius: 30px;
    }
  }

  &__right {
    @include breakpoint($breakpoint-laptop) {
      width: 70%;
    }
    @include breakpoint($breakpoint-notebook) {
      width: 100%;
    }
    @include breakpoint($breakpoint-mobile) {
      gap: 10px;
    }

    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 50%;

    &-item {
      @include breakpoint($breakpoint-notebook) {
        align-items: flex-start;
      }
      @include breakpoint($breakpoint-mobile) {
        flex-direction: column;
        gap: 0;
        align-items: center;
      }

      display: flex;
      gap: 32px;
      align-items: center;

      picture {
        width: 20%;
      }

      &--text {
        @include breakpoint($breakpoint-mobile) {
          font-size: 16px;
          line-height: 22px;
          text-align: center;
        }

        width: 80%;
        font-weight: $weight-Regular;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0;

        .title {
          @include breakpoint($breakpoint-mobile) {
            font-size: 20px;
            line-height: 22px;
          }
          padding-bottom: 20px;
          font-weight: $weight-Bold;
          font-size: 32px;
          font-family: $font-second;
          line-height: 35px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
      }
    }
  }
}
