.nav--header {
  .nav {
    &__list {
      @include breakpoint($breakpoint-laptop) {
        gap: 20px;
      }

      display: flex;
      gap: 80px;
    }

    &__item {
      font-weight: $weight-Medium;
      font-size: $font-size__text--regular;
      line-height: $font-size__text--regular;
      letter-spacing: 0;
      text-transform: uppercase;
      white-space: nowrap;
      transition: $transition-time ease;

      &:hover {
        color: $palette-green;
        // color: linear-gradient(135deg, #96e856 0%, #26e1c7 100%);
      }
    }

    &__link {
    }
  }
}
