$grid-breakpoint: (
  mobilemini: 400px,
  mobile: 540px,
  tabletmini: 600px,
  tablet: 768px,
  notebook: 1200px,
  laptop: 1400px,
) !default;

// Переменные для обратной адаптивности
$breakpoint-mobilemini: max-width map.get($grid-breakpoint, 'mobilemini');
$breakpoint-mobile: max-width map.get($grid-breakpoint, 'mobile');
$breakpoint-tabletmini: max-width map.get($grid-breakpoint, 'tabletmini');
$breakpoint-tablet: max-width map.get($grid-breakpoint, 'tablet');
$breakpoint-notebook: max-width map.get($grid-breakpoint, 'notebook');
$breakpoint-laptop: max-width map.get($grid-breakpoint, 'laptop');