// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-black: #000000;
$palette-grey: #f1f1f1;
$palette-green: #5ce491;

// Цветовая палитра текста
$color-text__primary: #363639;
$color-text__black: #000000;
$color-text__white: #ffffff;

$link-hover-color: #60d2ff !default;
