$font-default: "Montserrat", sans-serif; // Семейство по умолчанию
$font-second: "Manrope", sans-serif; // Семейство по умолчанию
$font-third: "BreezeSans", sans-serif; // Семейство по умолчанию

// Размеры заголовков
$font-size__title--large: 80px;
$font-size__title--medium: 48px;
$font-size__title--regular: 36px;
$font-size__title--small: 20px;

// Размеры текста
$font-size__text--large: 24px;
$font-size__text--big: 18px;
$font-size__text--regular: 16px;
$font-size__text--small: 14px;

// Межстрочные расстояния
$line-height--primary: 1.5;