@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="consult-page" class="page__body">
    <section class="consult">
      <div class="container">
        <div class="consult__title">
          <h1>ПСИХОЛОГИЧЕСКОЕ КОНСУЛЬТИРОВАНИЕ И КОУЧИНГ</h1>
        </div>
        <!-- /.consult__title -->
        <div class="consult__tofiz">
          <div class="consult__tofiz-text">
            <p class="consult__tofiz-text--title">
              ЧАСТНЫМ ЛИЦАМ
            </p>
            <ul>
              <li><span>Снизить тревожность, страх перед будущим, ощущение безысходности</span></li>
              <li><span>Избавиться от чувства одиночества, стыда и вины, найти смысл в жизни</span></li>
              <li><span>Лучше понять себя и других, решить проблемы в отношениях с родителями, партнерами, детьми, коллегами и руководством</span></li>
              <li><span>Решить проблемы психосоматических расстройств и заболеваний</span></li>
              <li><span>Наладить баланс между работой и личной жизнью</span></li>
              <li><span>Простроить успешную траекторию достижения целей, карьеры и развития</span></li>
            </ul>
          </div>
          <!-- /.consult__tofiz-text -->
          <div class="consult__tofiz-img">
            <picture class="lazy lazy--preloader">
              <img class="image image--cover lazy__item" data-src="assets/img/layout/page/consult/01-nobg.png" alt="">
            </picture>
          </div>
          <!-- /.consult__tofiz-img -->

        </div>
        <!-- /.consult__tofiz -->

        <div class="consult__toorg">
          <div class="consult__toorg-img">
            <picture class="lazy lazy--preloader">
              <img class="image image--cover lazy__item" data-src="assets/img/layout/page/consult/02.png" alt="">
            </picture>
          </div>
          <!-- /.consult__toorg-img -->
          <div class="consult__toorg-text">
            <p class="consult__tofiz-text--title">
              ОРГАНИЗАЦИЯМ
            </p>
            <ul>
              <li><span>Повысить продуктивность работы сотрудников и их сосредоточенность
                на рабочих задачах за счет решения психологических проблем</span></li>
              <li><span>Улучшить психологический климат в команде</span></li>
              <li><span>Справиться со стрессом и выгоранием сотрудников</span></li>
              <li><span>Помощь руководителям в части взаимодействия с сотрудниками</span></li>
            </ul>
          </div>
          <!-- /.consult__toorg-text -->
        </div>
        <!-- /.consult__toorg -->

        <div class="consult__format-title">
          <span>формат</span> консультаций
        </div>
        <!-- /.consult__format-title -->
        <div class="consult__format-wrapper">
          <div class="consult__format-card">
            <div class="consult__format-card--title">
              в уютном офисе
            </div>
            <!-- /.consult__format-card--title -->
            <div class="consult__format-card--text">
              <strong>По адресу:</strong>  Санкт-Петербург, Каменноостровский проспект, дом 40 (бизнес-центр "Каменноостровский-40")
              <a href="#"><img class="" src="assets/img/layout/page/consult/metro.png" alt=""> Станция метро «Петроградская»</a>
            </div>
            <!-- /.consult__format-card--text -->
          </div>
          <!-- /.consult__format-card -->

          <div class="consult__format-card">
            <div class="consult__format-card--title">
              на территории вашей организации
            </div>
            <!-- /.consult__format-card--title -->
            <div class="consult__format-card--text">
              Формат подходит для индивидуальных и командных коуч-сессий
            </div>
            <!-- /.consult__format-card--text -->
          </div>
          <!-- /.consult__format-card -->

          <div class="consult__format-card">
            <div class="consult__format-card--title">
              в онлайн-формате
            </div>
            <!-- /.consult__format-card--title -->
            <div class="consult__format-card--text">
              Консультации в Google Meet (не требует установки приложения) или Skype.
              Техника для on-line трансляции и стабильный интернет обеспечиваются участниками.
            </div>
            <!-- /.consult__format-card--text -->
          </div>
          <!-- /.consult__format-card -->
        </div>
        <!-- /.consult__format-wrapper -->

        <a href="#" class="consult__button">записаться на консультацию</a>
      </div>
      <!-- /.container -->
    </section>
    <!-- /.consult -->
  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')