@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="home-page" class="page__body">
    <section class="foto__big">
      <div class="container">
        <div class="foto__big-wrap">
          <div class="foto__big-title">
            Стимул<br>
            <span>для вашего развития</span>
          </div>
          <!-- /.foto__big-title -->

          <div class="foto__big-img">
            <picture class="lazy ">
              <img src="assets/img/layout/section/foto-big/big-foto-titul.png"
                class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                alt="">
            </picture>
          </div>
          <!-- /.foto__big-img -->

          <div class="foto__big-info">
            <div class="foto__big-info--item">
              <div class="foto__big-info--text">
                <p>778</p>
              <span>тренингов<br>и развивающих программ</span>
              </div>
              <!-- /.foto__big-info--text -->

              <picture class="lazy ">
                <img src="assets/img/layout/section/foto-big/item1.png"
                  class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                  alt="">
              </picture>
            </div>
            <!-- /.foto__big-info--item -->

            <div class="foto__big-info--item">
              <div class="foto__big-info--text">
                <p>85</p>
              <span>стратегических сессий<br>
                и консалтинговых проектов</span>
              </div>
              <!-- /.foto__big-info--text -->

              <picture class="lazy ">
                <img src="assets/img/layout/section/foto-big/item2.png"
                  class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                  alt="">
              </picture>
            </div>
            <!-- /.foto__big-info--item -->

            <div class="foto__big-info--item">
              <div class="foto__big-info--text">
                <p>654</p>
              <span>коучинговые сессии<br>
                и психологические консультации</span>
              </div>
              <!-- /.foto__big-info--text -->

              <picture class="lazy ">
                <img src="assets/img/layout/section/foto-big/item3.png"
                  class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                  alt="">
              </picture>
            </div>
            <!-- /.foto__big-info--item -->


          </div>
          <!-- /.foto__big-info -->




        </div>
        <!-- /.foto__big-wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.foto__big -->

  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')