@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="home-page" class="page__body">
    <section class="foto__big">
      <div class="container">
        <div class="foto__big-wrap">
          <div class="foto__big-title">
            Стимул<br>
            <span>для вашего развития</span>
          </div>
          <!-- /.foto__big-title -->

          <div class="foto__big-img">
            <picture class="lazy ">
              <img src="assets/img/layout/section/foto-big/big-foto-titul.png"
                class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                alt="">
            </picture>
          </div>
          <!-- /.foto__big-img -->

          <div class="foto__big-info">
            <div class="foto__big-info--item">
              <div class="foto__big-info--text">
                <p>778</p>
              <span>тренингов<br>и развивающих программ</span>
              </div>
              <!-- /.foto__big-info--text -->

              <picture class="lazy ">
                <img src="assets/img/layout/section/foto-big/item1.png"
                  class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                  alt="">
              </picture>
            </div>
            <!-- /.foto__big-info--item -->

            <div class="foto__big-info--item">
              <div class="foto__big-info--text">
                <p>85</p>
              <span>стратегических сессий<br>
                и консалтинговых проектов</span>
              </div>
              <!-- /.foto__big-info--text -->

              <picture class="lazy ">
                <img src="assets/img/layout/section/foto-big/item2.png"
                  class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                  alt="">
              </picture>
            </div>
            <!-- /.foto__big-info--item -->

            <div class="foto__big-info--item">
              <div class="foto__big-info--text">
                <p>654</p>
              <span>коучинговые сессии<br>
                и психологические консультации</span>
              </div>
              <!-- /.foto__big-info--text -->

              <picture class="lazy ">
                <img src="assets/img/layout/section/foto-big/item3.png"
                  class="image image--contain lazy__item lazy__item--blur entered loaded wp-post-image loading"
                  alt="">
              </picture>
            </div>
            <!-- /.foto__big-info--item -->
          </div>
          <!-- /.foto__big-info -->
        </div>
        <!-- /.foto__big-wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.foto__big -->

    <section class="decisions">
      <div class="container">
        <div class="decisions__title">
          Решения<br>
          <span>для вашего успеха</span>
        </div>
        <!-- /.decisions__title -->
        <div class="decisions__card-wrapper">
          <div class="decisions__card">
            <div class="decisions__card-title">
              Корпоративное обучение
            </div>
            <!-- /.decisions__card-title -->
            <div class="decisions__card-text">
              Корпоративные тренинги и индивидуальные<br>
              консультации корпоративные тренинги<br>
              и индивидуальные консультации
            </div>
            <!-- /.decisions__card-text -->
            <a href="#" class="decisions__card-link">Подробнее</a>
          </div>
          <!-- /.decisions__card -->

          <div class="decisions__card">
            <div class="decisions__card-title">
              Психологические<br>
              консультации<br>
              и коучинг
            </div>
            <!-- /.decisions__card-title -->
            <div class="decisions__card-text">
              Корпоративные тренинги и<br>
              индивидуальные консультации
            </div>
            <!-- /.decisions__card-text -->
            <a href="#" class="decisions__card-link">Подробнее</a>
          </div>
          <!-- /.decisions__card -->

          <div class="decisions__card">
            <div class="decisions__card-title">
              Консалтинг и оптимизация<br>
              процессов
            </div>
            <!-- /.decisions__card-title -->
            <div class="decisions__card-text">
              Корпоративные тренинги и<br>
              индивидуальные консультации
            </div>
            <!-- /.decisions__card-text -->
            <a href="#" class="decisions__card-link">Подробнее</a>
          </div>
          <!-- /.decisions__card -->

          <div class="decisions__card">
            <div class="decisions__card-title">
              Стратегические<br>
              и командные сессии
            </div>
            <!-- /.decisions__card-title -->
            <div class="decisions__card-text">
              Корпоративные тренинги и индивидуальные<br>
              консультации корпоративные тренинги<br>
              и индивидуальные консультации
            </div>
            <!-- /.decisions__card-text -->
            <a href="#" class="decisions__card-link">Подробнее</a>
          </div>
          <!-- /.decisions__card -->
        </div>
        <!-- /.decisions__card-wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.decisions -->

    <section class="task">
      <div class="container">
        <div class="task-wrapper">
          <div class="task__left">
            <div class="task__left-title">
              легко решаем<br>
              <span>сложные задачи</span>
            </div>
            <!-- /.task__title -->
            <picture class="content__gendir-picture lazy lazy--preloader">
              <img class="image image--cover lazy__item" data-src="assets/img/layout/section/task/01.jpg" alt="">
            </picture>
          </div>
          <!-- /.task__left -->
          <div class="task__right">
            <div class="task__right-item">
              <picture class="content__gendir-picture lazy lazy--preloader">
                <img class="image image--cover lazy__item" data-src="assets/img/layout/section/task/li1.png" alt="">
              </picture>
              <div class="task__right-item--text">
                <p class="title">Гибкий подход</p>
                <p>Все программы создаются с учетом индивидуальных особенностей, потребностей и возможностей вашей организации.</p>
              </div>
              <!-- /.task__right-item--text -->
            </div>
            <!-- /.task__right-item -->

            <div class="task__right-item">
              <picture class="content__gendir-picture lazy lazy--preloader">
                <img class="image image--cover lazy__item" data-src="assets/img/layout/section/task/li2.png" alt="">
              </picture>
              <div class="task__right-item--text">
                <p class="title">Системные решения</p>
                <p>Даже у гениального лидера на пути к успеху компании непреодолимой стеной могут встать эмоционально выгоревшие сотрудники и «тяжелые», забюрократизированные процессы. Именно поэтому мы — за системный подход к решению задач.</p>
              </div>
              <!-- /.task__right-item--text -->
            </div>
            <!-- /.task__right-item -->

            <div class="task__right-item">
              <picture class="content__gendir-picture lazy lazy--preloader">
                <img class="image image--cover lazy__item" data-src="assets/img/layout/section/task/li3.png" alt="">
              </picture>
              <div class="task__right-item--text">
                <p class="title">Современные форматы</p>
                <p>Развитие должно быть не только экспертным, но и интересным,
                  и мотивирующим — в нашем арсенале не только тренинги
                  и командные сессии, но и чат-боты в Telegtam, коучинг-тренинги, online-марафоны и нано-классы.</p>
              </div>
              <!-- /.task__right-item--text -->
            </div>
            <!-- /.task__right-item -->


          </div>
          <!-- /.task__right -->




        </div>
        <!-- /.task-wrapper -->


      </div>
      <!-- /.container -->
    </section>
    <!-- /.task -->

  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')