@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="proramms-page" class="page__body">
    <section class="programms">
      <div class="container">
        <h1 class="programms__title">
          наши Программы
        </h1>
        <!-- /.programms__title -->
        <div class="programms__wrapper">
          <div class="programms__info">
            <p class="programms__info-title">КОНСТРУКТОР T&D ПРОДУКТОВ
            <span>УСПЕШНЫЙ БИЗНЕС</span></p>
            <p>Чтобы получить <strong>максимальный результат от вложений в обучение и развитие</strong> сотрудников, используйте системный подход – составляйте программы из взаимно поддерживающих и усиливающих друг друга кластеров- направлений и конкретных тем.
            </p>

            <div class="programms__buttons">
              <a href="#" class="programms__buttons-decisions">ПОЛУЧИТЬ полный перечень T&D решений</a>
              <a href="#" class="programms__buttons-reviews">отзывы о нашей работе</a>
            </div>
            <!-- /.programms__buttons -->
          </div>
          <!-- /.programms__info -->

          <div class="programms__card-wrap">
            <div class="programms__card">
              <div class="programms__card-left">
                <p class="programms__card-title">
                  ЭНЕРГИЧНЫЕ СОТРУДНИКИ
                </p>
                <div class="programms__card-text">
                  <ul>
                    <li><span>Программы Well-Being</span></li>
                    <li><span>On-line тренажеры по управлению стрессом</span></li>
                    <li><span>Психологическая поддержка сотрудников</span></li>
                  </ul>
                </div>
              </div>
              <!-- /.programms__card-left -->
              <div class="programms__card-video--wrap bottom1">
                <video class="video01 mask" autoplay muted loop playsinline>
                  <source src="assets/video/prog01.mp4">
                </video>
              </div>
              <!-- /.programms__card-video--wrap -->

            </div>
            <!-- /.programms__card -->

            <div class="programms__card">
              <div class="programms__card-left">
                <p class="programms__card-title">
                  ЭФФЕКТИВНЫЙ МЕНЕДЖМЕНТ
                </p>
                <div class="programms__card-text">
                  <ul>
                    <li><span>Стратегические сессии</span></li>
                    <li><span>Командный и личный коучинг</span></li>
                    <li><span>Программы развития системного и стратегического мышления</span></li>
                  </ul>
                </div>
              </div>
              <!-- /.programms__card-left -->
              <div class="programms__card-video--wrap">
                <video class="video02 mask" autoplay muted loop playsinline>
                  <source src="assets/video/prog02.mp4">
                </video>
              </div>
              <!-- /.programms__card-video--wrap -->
            </div>
            <!-- /.programms__card -->

            <div class="programms__card">
              <div class="programms__card-left">
                <p class="programms__card-title">
                  ПРИБЫЛЬНЫЕ  ПРОЦЕССЫ
                </p>
                <div class="programms__card-text">
                  <ul>
                    <li><span>Консалтинг в сфере HR-процессов</span></li>
                    <li><span>Lean-проекты</span></li>
                  </ul>
                </div>
              </div>
              <!-- /.programms__card-left -->

              <div class="programms__card-video--wrap">
                <video class="video03 mask" autoplay muted loop playsinline>
                  <source src="assets/video/prog03.mp4">
                </video>
              </div>
              <!-- /.programms__card-video--wrap -->
            </div>
            <!-- /.programms__card -->

          </div>
          <!-- /.programms__card-wrap -->

        </div>
        <!-- /.programms__wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.programms -->
  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')