@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="team-page" class="page__body">
    <section class="team">
      <div class="container">
        <div class="team__title">
          <h1>Наша команда</h1>
        </div>
        <!-- /.team__title -->

        <div class="team__card-wrapper">
          <div class="team__card">
            <div class="team__card-img">
              <picture class="lazy lazy--preloader">
                <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/team1.jpg" alt="">
              </picture>
            </div>
            <!-- /.team__card-img -->

            <div class="team__card-name">
              Оксана Нечаева
            </div>
            <!-- /.team__card-name -->

            <div class="team__card-info--wrap">
              <!-- <div class="team__card-info"> -->
                <div class="team__card-info--desc">
                  <ul>
                    <li><span>Бизнес-тренер</span></li>
                    <li><span>Психолог</span></li>
                    <li><span>Командный и индивидуальный коуч</span></li>
                    <li><span>Консультант по трансформации корпоративной культуры организаций</span></li>
                    <li><span>Сертифицированный тренер по Lean-технологиям</span></li>
                    <li><span>Эксперт по внедрению бережливого производства</span></li>
                  </ul>
                </div>
                <!-- /.team__card-info--desc -->
              </div>
              <!-- /.team__card-info-wrap -->


                <div class="team__card-info--img">
                  <div class="swiper">
                    <div class="swiper-wrapper">

                      <div class="swiper-slide">
                        <a  data-fslightbox="gallery" href="assets/img/layout/page/team/diplom1.jpg">
                          <picture class="lazy lazy--preloader">
                            <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/diplom1.jpg"
                              alt="">
                          </picture>

                        </a>

                      </div>
                      <!-- /.swiper-slide -->

                      <div class="swiper-slide">
                        <picture class="lazy lazy--preloader">
                          <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/diplom1.jpg"
                            alt="">
                        </picture>
                      </div>
                      <!-- /.swiper-slide -->

                      <div class="swiper-slide">
                        <picture class="lazy lazy--preloader">
                          <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/diplom1.jpg"
                            alt="">
                        </picture>
                      </div>
                      <!-- /.swiper-slide -->

                    </div>
                    <!-- /.swiper-wrapper -->

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                  <!-- /.swiper -->
                </div>
                <!-- /.team__card-info--img -->

              <!-- </div> -->
              <!-- /.team__card-info -->


              <div class="team__card-exp--wrap">
                <div class="team__card-exp">
                  Профессиональный опыт
                </div>
                <!-- /.team__card-exp -->
                <div class="team__card-exp--info">
                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>16</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      разработка, организация
                      и проведение развивающих мероприятий в корпоративной сфере
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>7</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      руководство собственным бизнесом
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>9</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      коучинг и психологическое консультирование
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>6</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      руководство Lean-проектами и обучение Lean-технологиям в финансовой корпорации
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>6</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      руководство бизнес и HR-подразделениями в крупной финансовой корпорации
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->
                </div>
                <!-- /.team__card-exp--info -->

              </div>
              <!-- /.team__card-exp--wrap -->




            <!-- </div> -->
            <!-- /.team__card-info-wrap -->
            <a href="#" class="team__card-btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
          </div>
          <!-- /.team__card -->

          <div class="team__card">
            <div class="team__card-img">
              <picture class="lazy lazy--preloader">
                <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/team2.jpg" alt="">
              </picture>
            </div>
            <!-- /.team__card-img -->

            <div class="team__card-name">
              Дарья Скрыпник
            </div>
            <!-- /.team__card-name -->

            <div class="team__card-info--wrap">
              <!-- <div class="team__card-info"> -->
                <div class="team__card-info--desc">
                  <ul>
                    <li><span>Бизнес-тренер</span></li>
                    <li><span>Психолог</span></li>
                    <li><span>Командный и индивидуальный коуч</span></li>
                    <li><span>Консультант по трансформации корпоративной культуры организаций</span></li>
                    <li><span>Сертифицированный тренер по Lean-технологиям</span></li>
                    <li><span>Эксперт по внедрению бережливого производства</span></li>
                  </ul>
                </div>
                <!-- /.team__card-info--desc -->
              </div>
              <!-- /.team__card-info-wrap -->


                <div class="team__card-info--img">
                  <div class="swiper">
                    <div class="swiper-wrapper">

                      <div class="swiper-slide">
                        <picture class="lazy lazy--preloader">
                          <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/diplom1.jpg"
                            alt="">
                        </picture>
                      </div>
                      <!-- /.swiper-slide -->

                      <div class="swiper-slide">
                        <picture class="lazy lazy--preloader">
                          <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/diplom1.jpg"
                            alt="">
                        </picture>
                      </div>
                      <!-- /.swiper-slide -->

                      <div class="swiper-slide">
                        <picture class="lazy lazy--preloader">
                          <img class="image image--cover lazy__item" data-src="assets/img/layout/page/team/diplom1.jpg"
                            alt="">
                        </picture>
                      </div>
                      <!-- /.swiper-slide -->

                    </div>
                    <!-- /.swiper-wrapper -->

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                  <!-- /.swiper -->
                </div>
                <!-- /.team__card-info--img -->

              <!-- </div> -->
              <!-- /.team__card-info -->


              <div class="team__card-exp--wrap">
                <div class="team__card-exp">
                  Профессиональный опыт
                </div>
                <!-- /.team__card-exp -->
                <div class="team__card-exp--info">
                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>16</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      разработка, организация
                      и проведение развивающих мероприятий в корпоративной сфере
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>7</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      руководство собственным бизнесом
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>9</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      коучинг и психологическое консультирование
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>6</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      руководство Lean-проектами и обучение Lean-технологиям в финансовой корпорации
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->

                  <div class="team__card-exp--card">
                    <p class="team__card-exp--card---titul">
                      <span>6</span> лет
                    </p>
                    <p class="team__card-exp--card---text">
                      руководство бизнес и HR-подразделениями в крупной финансовой корпорации
                    </p>
                  </div>
                  <!-- /.team__card-exp--card -->
                </div>
                <!-- /.team__card-exp--info -->

              </div>
              <!-- /.team__card-exp--wrap -->




            <!-- </div> -->
            <!-- /.team__card-info-wrap -->
            <a href="#" class="team__card-btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
          </div>
          <!-- /.team__card -->

        </div>
        <!-- /.team__card-wrapper -->

        <div class="team__specs">
          <div class="team__specs-img">
            <img class="team__specs-img--left" src="assets/img/layout/page/team/spec1.png" alt="">
            <img class="team__specs-img--middle" src="assets/img/layout/page/team/spec2.png" alt="">
            <img class="team__specs-img--right" src="assets/img/layout/page/team/spec3.png" alt="">
          </div>
          <!-- /.team__specs-img -->
          <div class="team__specs-text">
            Для каждого проекта мы дополнительно собираем проектную команду из самых лучших специалистов
            (методологов, тренеров, ИТ-специалистов, дизайнеров и т.д.).
          </div>
          <!-- /.team__specs-text -->

        </div>
        <!-- /.team__specs-wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.team -->
  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')