#reviews {
  .swiper {
    @include breakpoint($breakpoint-mobile) {
      padding-bottom: 180px;
    }

    padding-bottom: 50px;

    &-button-prev,
    &-button-next {
      @include breakpoint($breakpoint-mobile) {
        bottom: 100px;
      }

      top: unset;
      bottom: 0;
      width: 64px;
      height: 64px;
      border-radius: 100px;
      // background: #c2c2c2;
      background: $palette-green;

      &:hover {
        // background: #363639;
        // background: $palette-green;
      }
    }

    &-button-prev:after,
    &-button-next:after {
      color: #363639;
      font-size: 16px;
    }

    &-button-prev:hover:after,
    &-button-next:hover:after {
      color: #ffffff;
    }
  }

  .swiper-pagination {
    @include breakpoint($breakpoint-mobile) {
      bottom: 120px;
    }

    bottom: 20px;

    &-bullet {
      width: 15px;
      height: 15px;
      border: 1px solid #89939c;
      background-color: transparent;
      opacity: 0.7;

      &-active {
        border: none;
        background-color: #5ce491;
        opacity: 1;
      }
    }
  }
}
